{% extends "base.html" %}

{% load crispy_forms_tags %}

{% comment %} {% load static %} {% endcomment %}

{% block main_block %}

    {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <p class="text-2xl text-amber-400">Claims List</p>
        
        <div id="pending-claims" role="tab" aria-labelledby="pending-claims">
            {% if pending_claims %}
            <h1 class="text-2xl text-amber-400">PENDING CLAIMES</h1>
            <table class="p-3 m-4 table-auto">
            <thead>
                <tr class="mt-3 ml-3 border-2 border-amber-300 rounded-2xl bg-gray-400">
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims ID</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Lec</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Course</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Date</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Start</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims end</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Duraton</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Status</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Action</td>
                </tr>
            </thead>
            <tbody>
                {% for claim, time in pending_claims %}
                    {% if claim.lecturer.id is user_id and claim.lecturer.role == 'lecturer' and claim.status == 'pending' %}
                    <tr class="mt-5 ml-3">
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.id }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.lecturer.first_name }} {{ claim.lecturer.last_name }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.course }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.date_taught }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.start_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.end_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.status }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">
                           {% if user_role != 'lecturer' %}
                                <form method="POST" action="{% url 'claim_update' claim.id %}">
                                    {% csrf_token %}
                                    <input type="Submit" value='APPROVE CLAIM'>
                                </form>
                            {% else %}
                                <form method="POST" action="{% url "end_claim" claim.id %}">
                                    {% csrf_token %}
                                    <input type="submit" value="END SESSION"/>
                                </form>
                           {% endif %}
                        </td>
                    </tr>
                    {% elif user_role != 'lecturer' %}
                    <tr class="mt-5 ml-3">
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.id }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.lecturer.first_name }} {{ claim.lecturer.last_name }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.course }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.date_taught }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.start_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.end_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.status }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">
                           {% if user_role != 'lecturer' %}
                                <form method="POST" action="{% url 'claim_update' claim.id %}">
                                    {% csrf_token %}
                                    <input type="Submit" value='APPROVE CLAIM'>
                                </form>
                            {% else %}
                                <form method="POST" action="{% url "end_claim" claim.id %}">
                                    {% csrf_token %}
                                    <input type="submit" value="END SESSION"/>
                                </form>
                           {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nod Pending Claims Found </p>
        {% endif %}
        </div>


        <div id="approved-claims" role="tablist" aria-labelledby="approved-claims">
            <h1 class="text-2xl text-amber-400">APPROVED CLAIMES</h1>
        {% if approved_claims %}
        <table class="p-3 m-4 table-auto">
            <thead>
                <tr class="mt-3 ml-3 border-2 border-amber-300 rounded-2xl bg-gray-400">
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims ID</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Lec</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Course</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Date</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Start</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims end</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Duraton</td>
                    <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Claims Status</td>
                    {% comment %} <td class="mt-5 ml-5 p-3 border-2 border-amber-300">Action</td> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for claim, time in approved_claims %}
                    {% if claim.lecturer.id is user_id and user_role.role == 'lecturer' and claim.status == 'approved' %}
                    <tr class="mt-5 ml-3">
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.id }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.lecturer.first_name }} {{ lecturer.last_name }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.course }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.date_taught }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.start_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.end_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.status }}</td>
                    </tr>
                    {% elif user_role != 'lecturer' %}
                    <tr class="mt-5 ml-3">
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.id }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.lecturer.first_name }} {{ claim.lecturer.last_name }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.course }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.date_taught }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.start_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.end_time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ time }}</td>
                        <td class="mt-5 ml-5 p-3 border-2 border-amber-300">{{ claim.status }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>No Approved Claims Found</h1>
        {% endif %}
        </div>
        
        <button class="m-3 p-3 border-2 border-amber-400 hover:bg-amber-400 rounded-2xl">
            <a href="{% url "dashboard" %}">BACK</a>
        </button>
{% endblock main_block %}